GITHUB_OWNER=your_value_here  # GitHub owner for the repository
DB_HOST=your_value_here        # Database host for PostgreSQL
DB_PORT=your_value_here        # Database port for PostgreSQL
DB_USER=your_value_here        # Database user for PostgreSQL
DB_PASSWORD=your_value_here    # Database password for PostgreSQL
DB_NAME=analytics.cible        # Database name for PostgreSQL
GITHUB_REPO=your_value_here    # GitHub repository name
GITHUB_TOKEN=your_value_here    # GitHub personal access token