DB_PORT=your_value_here  # Database port for PostgreSQL
GITHUB_OWNER=your_value_here  # GitHub owner for repository access
DB_PASSWORD=your_value_here  # Password for the PostgreSQL database
GITHUB_TOKEN=your_value_here  # GitHub token for authentication
GITHUB_REPO=your_value_here  # GitHub repository name
DB_USER=your_value_here  # Username for the PostgreSQL database
DB_HOST=your_value_here  # Hostname for the PostgreSQL database
DB_NAME=analytics.cible  # Name of the target PostgreSQL database